/* 컬러 변수 */
:root {
  --point-color1: #eb5f2c;
  --point-color2: #f9bb00;
  --txt-color-400: #9e9e9e;
  --txt-color-500: #1a1a1a1;
  --txt-color-600: #000;
}

#wrap {
  height: 1500px;
}

#header {
  max-width: 1280px;
  margin: 0 auto;
  height: 160px;
}
#header .inner {
  padding-top: 50px;
  height: 160px;
}
.inner .logo {
  width: 330px;
  margin-bottom: 20px;
}
.inner .bottom_wrap {
  display: flex;
  justify-content: space-between;
}
.inner .category {
  display: flex;
  align-items: center;
}
.inner .category .pet_gnb {
  display: flex;
  padding-right:16px;
  gap: 16px;
  position: relative;
}
.inner .category .pet_gnb::after {
  content: '';
  position: absolute;
  background: #000;
  top: 15px;
  left: 50px;
  width: 1px;
  height: 12px;
}
.inner .category .pet_gnb>li>a {
  font-size: 23px;
}
.inner .category .gnb {
  display: flex;
  gap: 16px;
  padding-right: 16px;
}
.inner .category .gnb>li>a {
  font-family: AV-BLACK;
  font-size: 14px;
  font-weight: 600;
}
.inner .category .gnb>li:nth-child(4) {
  color: var(--point-color1);
}

.inner .bottom_right {
  display: flex;
}

.inner .user_wrap {
  display: flex;
  gap: 16px;
}
.inner .user_wrap .login {
  display: block;
  background: url(../images/login_FILL0_wght400_GRAD0_opsz24.svg) no-repeat;
  width: 24px;
  height: 24px;
}
.inner .user_wrap .logout {
  display: block;
  background: url(../images/logout_FILL0_wght400_GRAD0_opsz24.svg) no-repeat;
  width: 24px;
  height: 24px;
  /* 로그인 전에는 로그아웃 아이콘이 나오면 안되므로 */

}
.inner .user_wrap .join {
  display: block;
  width: 24px;
  height: 24px;
}
.inner .user_wrap .user_page {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/local_mall_FILL0_wght400_GRAD0_opsz24.svg) no-repeat;
}
.inner .bottom_right .menu_btn {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
}
.inner .bottom_right .menu_btn.on .menu_wrap {
  background: #eee8e8;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
  display: block;
  height: 100%;
  top: 0;
  right: -300px;
  position: fixed;
  overflow: hidden;
  transform: translateX(-300px);
  transition: transform .3s;
  width: 300px;
  z-index: 9999;
  opacity: 1;
}

.inner .menu_wrap .menu {
  text-align: start;
  width: 260px;
  padding: 20px;
  margin: 0 20px 0;
  border-bottom: 1px solid black;
}
.inner .menu_wrap .menu>li {
  padding-bottom: 9px;
}
.inner .menu_wrap .menu>li:nth-child(3) {
  padding-bottom: 30px;
}
.inner .menu_wrap .menu>li>a {
  font-size: 32px;
  font-weight: 700;
}
.inner .menu_wrap .menu>li:first-child {
  margin-top: 110px;
}
.inner .menu_wrap .menu>li:last-child>a {
  font-size: 16px;
}
.inner .bottom_right .menu_btn .menu_wrap {
  opacity: 0;
}

.inner .menu_wrap .service {
  text-align: start;
  width: 260px;
  padding: 44px 0 100px;
  margin: 0 30px;
}

.inner .menu_wrap .service>li {
  padding-bottom: 10px;
}

.inner .menu_wrap .member {
  display: flex;
  align-items: center;
  margin: 0 30px;
  gap: 15px;
}
.inner .menu_wrap .member>li {
  line-height: 16px;
}
.inner .menu_wrap .member>li>a {
  font-size: 13px;
  font-weight: 700;
}

.inner .menu_wrap .member .bag {
  display: block;
  margin-left: 20px;
  width: 15px;
  height: 15px;
}
.inner .menu_wrap .member .wish {
  display: block;
  width: 15px;
  height: 15px;
}

#container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 30px;
}
.main_slider {
  width: 100%;
  height: 600px;
}
.main_slider .swiper-slide {
  position: relative;
}
.main_slider .txt_wrap {
  position: absolute;
  top: 220px;
  right: 190px;
  color: black;
  display: flex;
  flex-direction: column;
}
.main_slider .txt_wrap p {
  font-size: 20px;
  font-weight: 400;
  color: #888;
}
.main_slider .txt_wrap strong {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  padding: 10px 0 30px 0;
}
.main_slider .txt_wrap em {
  color: #888;
  font-size: 22px;
  font-weight: 400;
}

.swiper .swiper-button-prev {
  background: url(../images/angle-left-icon.png) no-repeat;
  color: #fff;
}
.swiper .swiper-button-next {
  background: url(../images/angle-right-icon.png) no-repeat;
  color: #fff;
}
.swiper .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: #000;
}

.new_product {
  height: 439px;
  margin-top: 100px;
}

.new_product .product h2 {
  font-size: 32px;
  text-align: center;
}
.new_product .swiper-wrapper {
  display: flex;
  gap: 10px;
}

.new_product .product_wrap .swiper-slide {
  width: 240px;
}

.new_product .swiper-slide .tit_wrap {
  display: flex;
  flex-direction: column;
}
.new_product .swiper-slide .tit_wrap p {
  font-size: 14px;
  padding-bottom: 17px;
}
.new_product .swiper-slide .tit_wrap em {
  font-size: 12px;
  padding-bottom: 5px;
}
.new_product .swiper-slide .tit_wrap span {
  font-size: 13px;
}

.new_product .swiper-slide .img_wrap {
  width: 240px;
  height: 240px;
}
.new_product .swiper-slide .product1 .img_wrap img:hover {
  background: url(../images/productSlide/bagpack-hover.jpg) no-repeat;
}
/* .new_product .swiper-slide {
  height: 358px;
} */



#footer {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 130px;
}
.footer_top {
  margin-bottom: 35px;
}
.footer_top .sns_cs {
  display: flex;
  gap: 30px;
  margin-bottom: 35px;
}
.footer_top .sns_cs>li>a {
  font-size: 24px;
  font-weight: 600;
}

.footer_top .cs {
  padding-bottom: 20px;
}
.footer_top .cs p {
  font-size: 14px;
  color: #bebebe;
  padding-bottom: 10px;
  font-family: AV-BOOK;
}
.footer_top .cs span {
  font-size: 12px;
  color: #575757;
  font-family: AV-BOOK;
}
.footer_top strong {
  font-size: 14px;
  color: #000;
  font-family: AV-BOOK;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
}
.footer_bottom .company p {
  font-size: 12px;
  font-family: AV-BOOK;
  color: #000;
}
.footer_bottom .company em {
  font-size: 12px;
  font-family: AV-BOOK;
  color: #000;
}

.footer_bottom .footer_right .privacy_wrap {
  display: flex;
  gap: 40px;
}