@charset "UTF-8";

/* 컬러 변수 */
:root {
	--point-color1: #eb5f2c;
	--point-color2: #f9bb00;
	--txt-color-400: #9e9e9e;
	--txt-color-500: #1a1a1a1;
	--txt-color-600: #000;
}

#wrap {
	height: 1500px;
}

#header {
	max-width: 1280px;
	margin: 0 auto;
	height: 160px;
}

#header .inner {
	padding-top: 50px;
	height: 160px;
}

.inner .logo {
	width: 330px;
	margin-bottom: 20px;
}

.inner .bottom_wrap {
	display: flex;
	justify-content: space-between;
}

.inner .category {
	display: flex;
	align-items: center;
}

.inner .category .pet_gnb {
	display: flex;
	padding-right: 16px;
	gap: 16px;
	position: relative;
}

.inner .category .pet_gnb::after {
	content: '';
	position: absolute;
	background: #000;
	top: 15px;
	left: 50px;
	width: 1px;
	height: 12px;
}

.inner .category .pet_gnb>li>a {
	font-size: 23px;
}

.inner .category .gnb {
	display: flex;
	gap: 16px;
	padding-right: 16px;
}

.inner .category .gnb>li>a {
	font-family: AV-BLACK;
	font-size: 14px;
	font-weight: 600;
}

.inner .category .gnb>li:nth-child(4) {
	color: var(--point-color1);
}

.inner .bottom_right {
	display: flex;
}

.inner .user_wrap {
	display: flex;
	gap: 16px;
}

.inner .user_wrap .login {
	display: block;
	background: url(../images/login_FILL0_wght400_GRAD0_opsz24.svg)
		no-repeat;
	width: 24px;
	height: 24px;
}

.inner .user_wrap .logout {
	display: block;
	background: url(../images/logout_FILL0_wght400_GRAD0_opsz24.svg)
		no-repeat;
	width: 24px;
	height: 24px;
	/* 로그인 전에는 로그아웃 아이콘이 나오면 안되므로 */
	display: none;
}

.inner .user_wrap .join {
	display: block;
	width: 24px;
	height: 24px;
}

.inner .user_wrap .user_page {
	display: block;
	width: 24px;
	height: 24px;
	background: url(../images/local_mall_FILL0_wght400_GRAD0_opsz24.svg)
		no-repeat;
}

.inner .bottom_right .menu_btn {
	width: 24px;
	height: 24px;
	border: none;
	background: none;
}

.inner .bottom_right .menu_btn.on .menu_wrap {
	background: #eee8e8;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
	display: block;
	height: 100%;
	top: 0;
	right: -300px;
	position: fixed;
	overflow: hidden;
	transform: translateX(-300px);
	transition: all .3s;
	width: 300px;
	z-index: 9999;
	opacity: 1;
}

.inner .menu_wrap .menu {
	text-align: start;
	width: 260px;
	padding: 20px;
	margin: 0 20px 0;
	border-bottom: 1px solid black;
}

.inner .menu_wrap .menu>li {
	padding-bottom: 9px;
}

.inner .menu_wrap .menu>li:nth-child(3) {
	padding-bottom: 30px;
}

.inner .menu_wrap .menu>li>a {
	font-size: 32px;
	font-weight: 700;
}

.inner .menu_wrap .menu>li:first-child {
	margin-top: 110px;
}

.inner .menu_wrap .menu>li:last-child>a {
	font-size: 16px;
}

.inner .bottom_right .menu_btn .menu_wrap {
	opacity: 0;
}

.inner .menu_wrap .service {
	text-align: start;
	width: 260px;
	padding: 44px 0 100px;
	margin: 0 30px;
}

.inner .menu_wrap .service>li {
	padding-bottom: 10px;
}

.inner .menu_wrap .member {
	display: flex;
	align-items: center;
	margin: 0 30px;
	gap: 15px;
}

.inner .menu_wrap .member>li {
	line-height: 16px;
}

.inner .menu_wrap .member>li>a {
	font-size: 13px;
	font-weight: 700;
}

.inner .menu_wrap .member .bag {
	display: block;
	margin-left: 20px;
	width: 15px;
	height: 15px;
}

.inner .menu_wrap .member .wish {
	display: block;
	width: 15px;
	height: 15px;
}

#container {
	max-width: 1280px;
	margin: 0 auto;
}

.main_write h2 {
	font-size: 28px;
	font-weight: 600;
	margin: 30px 0 20px;
}

.main_write .title {
	width:100%
}

.main_write .btn_wrap {
	display: flex;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.btn_wrap .letter_btn .letter {
	width: 102px;
	height: 40px;
	margin: 4px 2px;
	background: #fff;
	position: relative;
	font-size: 12px;
	border: none;
}

.btn_wrap .letter_btn .letter::after {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #333333;
	right: 2px;
	top: 18px;
	content: "";
}

.btn_wrap .letter_btn .font_family {
	width: 142px;
	height: 40px;
	margin: 4px 2px;
	background: #fff;
	position: relative;
	font-size: 12px;
	border: none;
}

.btn_wrap .letter_btn .font_family::after {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #333333;
	right: 2px;
	top: 18px;
	content: "";
}

.btn_wrap .letter_btn .font_size {
	width: 52px;
	height: 40px;
	margin: 4px 2px;
	background: #fff;
	position: relative;
	font-size: 12px;
	border: 1px solid #fff;;
}

.btn_wrap .letter_btn .font_size::after {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #333333;
	right: 2px;
	top: 18px;
	content: "";
}

.btn_wrap .font_btn .bold {
	width: 34px;
	height: 40px;
	margin: 4px 2px;
	background: url(../images/bold.png) no-repeat center #fff;
	border: none;
}

.btn_wrap .font_btn .slash {
	width: 34px;
	height: 40px;
	margin: 4px 2px;
	background: url(../images/slash.png) no-repeat center #fff;
	border: none;
}

.btn_wrap .font_btn .more_font {
	width: 34px;
	height: 40px;
	margin: 4px 2px;
	background: url(../images/more_font.png) no-repeat center #fff;
	border: none;
}

.main_write .text {
	min-height: 440px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.main_write .end_btn {
	width:80px;
	height:40px;
	border:1px solid #000;
	border-radius:5px;
	position: absolute;
    right: 120px;
    top: 700px;
}